.container{
    display: flex;
}

.img_container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalPag_container {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgStyle {
    margin-top: 5vh;
    width: 200px;
    max-width: 40vw;
}

.imgStyle:hover {
    cursor: pointer;
}

.personalWeb {
    margin: 5vh;
    max-width: 40vw;
    width: 200px;
}

.personalWeb:hover {
    cursor: pointer;
}